@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --font-main: 'Philosopher', sans-serif;
    --font-title: 'Georgia', serif;
    
    --h1: 300 36px/1.2 var(--font-main);
    --h2: 600 26px/1.3 var(--font-title);
}

h1 { font: var(--h1); }
h2 { font: var(--h2); }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-wrapper{
    max-width: 1440px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px 125px; 
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    text-wrap: nowrap;
}

.header-wrapper .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 23px;
}
.header-wrapper .logo img{
    width: 45px; 
    height: 45px;
}
.pageslinks{
    max-width: 1440px;
    height: 60px;
    background-color: #FFC7D4;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
}

.cards-buquets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 30px;
    max-width: 1200px;
    margin-top: 20px;
    margin: 0 auto;
}


.buquet-card {
    background: #FFC7D4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 450px;
}

.buquet-image  {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.sizes-overlay {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.sizes-overlay button{
    background-color: #333333;
    width: 800px;
    height: 30px;
    color: #FFC7D4;
    font-size: 22px;
    cursor: pointer;
}

.buquet-name {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin: 0;
}

.buquet-price {
    padding: 15px 55px;
    font-size: 20px;
    font-weight: 700;
    color: #e74c3c;
    text-align: center;
}

.buttons-row {
    padding: 15px;
    display: flex;
    gap: 10px;
    margin-top: auto;
}

.ordering-btn{
    width: 350px;
    height: 40px;
    font-size: 22px;
    border: #333333 2px solid;
    background: transparent;
    cursor: pointer;
}

.wishlist-btn, .add-to-cart-btn{
    width: 40px; height: 40px;
    font-size: 20px;
    background-color: #333333; color: #FFC7D4;
}

.basemant-buquets {
    background-color: #CFE8CD;
    margin-top: 20px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 0 0 125px;
}
.logo img{
    width: 80px; height: auto;
}
.columns-basemant {
    display: flex;
}
.navigation {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 125px;
    gap: 10px;
}
.navigation a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Philosopher', sans-serif;
    color: #333333;
}
.socialnets {
    margin-left: 120px;
    gap: 10px;
}
.phonenumber {
    display: flex;
    margin-top: 10px;
}
.graficofwork {
    margin-top: 10px;
}
.search-in-basemant {
    margin-top: 10px;
}
